<!-- Sender HTML file -->
<!DOCTYPE html>
<html>
<head>
  <title>Sender</title>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
</head>
<body>
  <h1>Sender</h1>
  <script>
    // Connect to the PeerJS server with a custom ID for the sender
    const email = '{{ email }}'
    const peerid_intermediate = email + "-browser"
    const peerid = convertSpecialCharacters(peerid_intermediate)
    console.log(peerid)
    const myPeer = new Peer(peerid, {
      secure: true,
      host: 'peer-server-rtc.herokuapp.com',
      port: 443
    });

    // When the PeerJS connection is open, create a data connection to the receiver
    myPeer.on('open', (id) => {
      console.log('Connected to PeerJS server with ID:', id);
      const conn = myPeer.connect(email + '-mobile');

      // When the data connection is open, send the JSON data to the receiver
      conn.on('open', () => {
        console.log('Data connection with receiver opened.');
        var json_data_str = '{{ json_data_str | safe }}';
        console.log('JSON data:', json_data_str);
        conn.send(json_data_str);
      });
    });

    function convertSpecialCharacters(str) {
      const specialChars = {
        '@': 'at',
        '#': 'hash',
        '$': 'dollar',
        '%': 'percent',
        '&': 'and',
        '*': 'star',
        '+': 'plus',
        '-': 'dash',
        '/': 'slash',
        '=': 'equal',
        '?': 'question',
        '^': 'caret',
        '_': 'underscore',
        '|': 'pipe',
        '~': 'tilde'
      };
    
      return str.replace(/[^\w\s]/g, match => specialChars[match] || '');
    }
  </script>
</body>
</html>