<!-- Sender HTML file -->
<!DOCTYPE html>
<html>
<head>
  <title>Sender</title>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
</head>
<body>
  <h1>Sender</h1>
  <script>
    // Connect to the PeerJS server with a custom ID for the sender
    //Combine email, browser, and remove special characters (peerjs can only accept alphanum)
    const email = '{{ email }}'
    const peerid_intermediate = email + "-browser"
    const peerid = convertSpecialCharacters(peerid_intermediate)
    console.log("peerid:", peerid)
    const recipientid_intermediate = email + "mobile";
    const recipientid = convertSpecialCharacters(recipientid_intermediate)
    console.log("peerid:", recipientid)
    
    const myPeer = new Peer(peerid, {
      secure: true,
      host: 'peer-server-rtc.herokuapp.com',
      port: 443
    });

    let connected = false;

    myPeer.on('open', (id) => {
      console.log('Connected to PeerJS server with ID:', id);
      tryConnect();
    });

    function tryConnect() {
      if (connected) return;

      const conn = myPeer.connect(recipientid);

      conn.on('open', () => {
        connected = true;
        console.log('Connected:', connected);
        console.log('Data connection with receiver opened.');
        var json_data_str = '{{ json_data_str | safe }}';
        console.log('JSON data:', json_data_str);
        conn.send(json_data_str);
      });

      // Custom retry strategy with a timeout
      const connectionTimeout = 5000; // 5 seconds
      const timeoutID = setTimeout(() => {
        if (!connected) {
          console.error('Failed to connect, retrying in 5 seconds...');
          tryConnect();
        }
      }, connectionTimeout);
      
      // Clear the timeout when connected or on error
      conn.on('open', () => clearTimeout(timeoutID));
      conn.on('error', (err) => {
        clearTimeout(timeoutID);
        console.error('Error occurred:', err);
      });
    }

    function convertSpecialCharacters(str) {
      const specialChars = {
        '@': 'at',
        '#': 'hash',
        '$': 'dollar',
        '%': 'percent',
        '&': 'and',
        '*': 'star',
        '+': 'plus',
        '-': 'dash',
        '/': 'slash',
        '=': 'equal',
        '?': 'question',
        '^': 'caret',
        '_': 'underscore',
        '|': 'pipe',
        '~': 'tilde'
      };
    
      return str.replace(/[^\w\s]/g, match => specialChars[match] || '');
    }
  </script>
</body>
</html>